$font_size: 18px;
$bg: #222;
$sticky_height: 50px;
$link_color: #a57393;

:focus {
    outline-color: $link_color;
}


@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata);

button {
    font-size: inherit;
    font-family: inherit;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    background: $bg;
    color: white;
    font-size: $font_size;
    margin: 0;
    font-family: Lato, sans-serif;
}

.itch_banner {
    margin:  0 20px 15px 20px;
    color: #ddd;
    font-size: 16px;
    padding-bottom: 6px;

    a {
        color: white;
        font-weight: bold;
    }

    .icon {
        color: #7C7C7C;
        vertical-align: middle;
        margin-right: 4px;
    }
}

.sticky {
    position: sticky;
    color: #222;
    z-index: 2;
    top: 0;
    height: $sticky_height;
    background: #F1F1F1;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    padding: 0 20px;

    h1 {
        margin: 0;
        font-size: 18px;
    }

    .spacer {
        flex: 1;
    }

    a {
        color: $link_color;
    }

    .social_buttons, h1 {
        display: inline-block;
    }

    .social_buttons {
        line-height: normal;
        vertical-align: middle;
        position: relative;
        top: 1px;
        margin-left: 12px;
    }

    .tools {
        display: flex;
        align-items: center;
        font-size: 16px;

        .search_form {
            display: inline-block;
            margin: 0 20px 0 0;
            input[type='text'] {
                font-family: inherit;
                width: 230px;
                font-size: 16px;
                border-radius: 4px;
                background: white;
                border: 1px solid #dadada;
                padding: 4px 12px;
                margin: 0;
            }
        }

        .icon {
            color: #aaa;
            font-size: 16px;
            margin-right: 8px;
            margin-left: 10px;
        }

        .dropdown_picker {
            display: inline-block;
            position: relative;
            margin-right: 10px;

            &.open {
                .select_popup {
                    opacity: 1.0;
                }
            }

            .select_popup {
                opacity: 0;
                top: 100%;
                left: 50%;
                transform: translate(-50%, 0);
            }

            .current_option {
                height: 30px;
                line-height: 30px;
                margin: 0;
                border: 0;
                background: #313131;
                border-radius: 6px;
                padding: 0 12px;
                color: white;
                text-shadow: 0 0 4px rgba(0,0,0, 0.5);
                cursor: pointer;
            }

            .tri_down {
                display: inline-block;
                vertical-align: middle;
                margin-left: 2px;
                margin-top: -2px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #ffffff transparent transparent transparent;
            }
        }

        .size_picker {
            display: inline-block;
            font-size: 0;
            margin-right: 10px;

            .picker {
                display: inline-block;
                font-size: $font_size;
                cursor: pointer;
                color: #DFDFDF;
                background: gray;
                padding: 0 12px;

                &.current {
                    background: #313131;
                    color: white;
                    text-shadow: 0 0 4px rgba(0,0,0, 0.5);
                }
            }

            button {
                border: 0;
                line-height: 30px;
                height: 30px;
            }

            > :first-child {
                border-radius: 6px 0 0 6px;
            }

            > :last-child {
                border-radius: 0 6px 6px 0;
            }
        }
    }
}

.jam_picker {
    color: white;
    padding: 15px 20px 15px 20px;
    background: rgba(white, 0.1);
    font-size: 16px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    box-sizing: border-box;

    &:hover {
        overflow-x: auto;
    }

    ul {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0
    }

    li {
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    a {
        color: inherit;
        margin-left: 10px;
    }

    .games_count {
        opacity: 0.8;
    }
}

.user_page {
    .jam_picker {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .spacer {
            flex: 1;
        }
    }
}

.game_grid {
    margin-left: 20px;
}

.loader_cell {
    width: 300px;
    height: 240px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;

    background: #464646 url("/static/loader.gif") 50% 50% no-repeat;
}

.game_grid.details_enabled .game_cell:hover, .game_cell.show_details, .game_grid.show_labels {
    .label {
        bottom: 0px;
    }

    .top_label {
        opacity: 1.0;
    }
}


.game_cell {
    display: inline-block;
    background: rgba(0,0,0,.5);
    width: 300px;
    height: 240px;
    margin-right: 20px;
    margin-bottom: 20px;

    position: relative;
    box-shadow: 0 0 0 2px rgba(black, 0.2);

    &.image_loading {
        .thumb {
            opacity: 0;
        }
    }

    .thumb {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: 50% 50%;
        background-size: cover;
        transition: opacity 0.20s ease-in-out;
    }

    .cell_crop {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
    }

    .top_label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;

        transition: opacity 0.20s ease-in-out;

        .votes, .downloads {
            background: rgba(0,0,0, 0.8);
            box-shadow: 0 0 0 1px rgba(255,255,255, 0.1);
            border-radius: 2px;
            padding: 4px;
            font-size: 13px;
            color: white;
        }

        .downloads {
            @include unselectable;
            display: inline-block;
            margin: 4px 0 0 4px;
            padding: 0;

            button {
                padding: 5px 10px;
                border: 0;
                cursor: pointer;
                background: transparent;
                color: white;
                font-size: inherit;
            }
        }

        .votes {
            @include unselectable;
            cursor: default;
            float: right;
            margin: 4px 4px 0 0;
            white-space: nowrap;

            .icon {
                font-size: 16px;
                vertical-align: -2px
            }

            .icon-star {
                color: #FFCC61;
            }

            .icon-cool {
                color: #FF7C7C;
            }

            .divider {
                margin-left: 6px;
            }
        }
    }

    .label {
        $height: 30px;
        height: $height;
        color: white;
        position: absolute;
        bottom: -$height;
        left: 0px;
        right: 0px;
        background: rgba(0,0,0, 0.8);
        font-size: 14px;
        transition: bottom 0.20s ease-in-out;

        .text {
            line-height: $height;
            padding: 0 8px;
        }

        .author {
            color: #aaa;
            float: right;
            display: block;

            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        .title {
            font-weight: bold;
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.arrow_box {
    position: relative;
    background: #ddd;
    border: 2px solid #fff;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(white, 0);
    border-bottom-color: white;
    border-width: 6px;
    left: 23px;
    margin-left: -6px;
}
.arrow_box:before {
    border-color: rgba(white, 0);
    border-bottom-color: white;
    border-width: 9px;
    left: 23px;
    margin-left: -9px;
}

.downloader {
    font-size: 14px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
    list-style: none;
    background: white;
    box-shadow: 0 0 0 2px black;
    border-radius: 2px;

    margin-top: 31px;
    margin-left: -5px;

    .empty_text {
        color: #444;
        font-style: italic;
    }

    li {
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: #3a3a3a;

        &:hover {
            color: #222;
        }

        &.download_row {
            display: block;
            margin-bottom: 2px;
        }
    }
}

.select_popup {
    position: absolute;
    left: 100px;
    top: 100px;
    background: #ffffff;

    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    border-radius: 4px;
    padding: 4px 0;

    margin-top: 5px;

    transition: opacity 0.20s ease-in-out;

    .option {
        display: block;
        width: 100%;
        border: 0;
        cursor: pointer;
        padding: 4px 12px;
        background: white;
        transition: all 0.1s ease-in-out;
        text-align: left;
        white-space: nowrap;

        &.selected {
            font-weight: bold;
        }

        &:hover {
            background: #222;
            color: white;
        }
    }


    &:after {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
    }

    hr {
        border: 0;
        height: 1px;
        background: #d6d6d6;
        margin: 4px 0;
    }
}


.sticky {
    h1.short_header {
        display: none;
    }
}

@media (max-width: 1100px) {
    .sticky {
        h1.long_header {
            display: none;
        }
        h1.short_header {
            display: inline-block;
        }
    }
}

.not_found_page, .loading_page {
    color: white;
    text-align: center;

    a {
        color: white;
    }
}

.empty_message {
    color: white;
    text-align: center;
    padding: 40px;
}

.charts_page {
    color: white;

    .events_graph {
        display: inline-flex;
        background: rgba(white, 0.05);
        border-radius: 4px;
        padding: 10px;
        height: 600px;
        max-width: 100%;
        max-height: calc(100vh - 100px);
        box-sizing: border-box;
        overflow: auto;

        > .event_column {
            margin-right: 5px;
            width: 25px;
            &:last-child {
                margin-right: 0;
            }

            display: flex;
            flex-direction: column;

            .event_bar {
                min-height: 1px;
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;

                .bar_inner {
                    margin-top: auto;
                    background: $link_color;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 5px;
                    box-sizing: border-box;

                    > span {
                        writing-mode: vertical-rl;
                        transform: rotate(180deg);
                        margin-bottom: auto;
                        font-weight: bold;
                        font-size: 13px;
                        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
                    }
                }
            }

            .event_name {
                order: 2;
                font-weight: bold;
                font-size: 14px;
                min-height: 40px;
                display: flex;
                align-items: center;

                > a {
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}

.page_column {
    margin: 0 20px;
}


