
$font_size: 18px;
$bg: #333;
$sticky_height: 50px;


@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata);


html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    background: $bg;
    color: #222;
    font-size: $font_size;
    margin: 0;
    font-family: Lato, sans-serif;

    padding-top: $sticky_height + 10px;
}

.itch_banner {
    margin:  0 20px 15px 20px;
    color: #ddd;
    font-size: 16px;
    border-bottom: 1px dashed #504F4F;
    padding-bottom: 6px;

    a {
        color: white;
        font-weight: bold;
    }

    .icon {
        color: #7C7C7C;
        vertical-align: middle;
        margin-right: 4px;
    }
}

.sticky {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: $sticky_height;
    background: #F1F1F1;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    white-space: nowrap;

    h1 {
        margin: 0;
        font-size: 18px;
    }

    .social_buttons, h1 {
        display: inline-block;
    }

    .social_buttons {
        line-height: normal;
        vertical-align: middle;
        position: relative;
        top: 1px;
        margin-left: 12px;
    }

    .inner {
        line-height: $sticky_height;
        padding: 0 20px;
    }

    .tools {
        float: right;
        position: relative;
        z-index: 2;
        white-space: normal;

        .icon {
            color: #aaa;
            font-size: 16px;
            margin-right: 8px;
            margin-left: 10px;
        }

        .dropdown_picker {
            display: inline-block;
            line-height: 30px;
            margin-right: 10px;

            &.open {
                .select_popup {
                    opacity: 1.0;
                    -webkit-animation: pop .2s ease-in-out;
                    -moz-animation: pop .2s ease-in-out;
                    -ms-animation: pop .2s ease-in-out;
                }
            }

            .select_popup {
                opacity: 0;
                top: -1000px;
                left: -1000px;
            }

            .current_option {
                background: #313131;
                border-radius: 6px;
                padding: 0 12px;
                color: white;
                text-shadow: 0 0 4px rgba(0,0,0, 0.5);
                cursor: pointer;
            }

            .tri_down {
                display: inline-block;
                vertical-align: middle;
                margin-left: 2px;
                margin-top: -2px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #ffffff transparent transparent transparent;
            }
        }

        .size_picker {
            display: inline-block;
            line-height: 30px;
            font-size: 0;
            margin-right: 10px;

            .picker {
                display: inline-block;
                font-size: $font_size;
                cursor: pointer;
                color: #DFDFDF;
                background: gray;
                padding: 0 12px;

                &.current {
                    background: #313131;
                    color: white;
                    text-shadow: 0 0 4px rgba(0,0,0, 0.5);
                }
            }

            .left_picker {
                border-radius: 6px 0 0 6px;
            }

            .right_picker {
                border-radius: 0 6px 6px 0;
            }
        }
    }
}

#game_list {
    margin-left: 20px;
}

.loader_cell {
    width: 300px;
    height: 240px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 2px;

    background: #464646 url("/static/loader.gif") 50% 50% no-repeat;
    box-shadow: 0 -1px 0 rgba(0,0,0, 0.2), 0 1px 0 rgba(255,255,255,0.2);
}

#game_list.details_enabled .game_cell:hover, .game_cell.show_details, #game_list.show_labels {
    .label {
        bottom: 0px;
    }

    .top_label {
        opacity: 1.0;
    }
}


.game_cell {
    display: inline-block;
    background: rgba(0,0,0,.5);
    width: 300px;
    height: 240px;
    margin-right: 20px;
    margin-bottom: 20px;

    position: relative;
    overflow: hidden;
    border-radius: 2px;

    box-shadow: 0 0 10px rgba(0,0,0, 0.8);

    &.image_loading {
        .thumb {
            opacity: 0;
        }
    }

    .thumb {
        display: block;
        position: absolute;
        border-radius: 2px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.3);
        background-position: 50% 50%;
        background-size: cover;

        -webkit-transition: opacity 0.20s ease-in-out;
        -moz-transition: opacity 0.20s ease-in-out;
        transition: opacity 0.20s ease-in-out;
    }


    .top_label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;

        -webkit-transition: opacity 0.20s ease-in-out;
        -moz-transition: opacity 0.20s ease-in-out;
        transition: opacity 0.20s ease-in-out;

        .votes, .downloads {
            background: rgba(0,0,0, 0.5);
            box-shadow: 0 0 0 1px rgba(255,255,255, 0.1);
            text-shadow: 0 0 4px black;
            border-radius: 2px;
            padding: 4px;
            font-size: 13px;
            color: white;
        }

        .downloads {
            @include unselectable;
            display: inline-block;
            cursor: pointer;
            margin: 4px 0 0 4px;
        }

        .votes {
            @include unselectable;
            cursor: default;
            float: right;
            margin: 4px 4px 0 0;
            white-space: nowrap;

            .icon {
                font-size: 16px;
                position: relative;
                top: 2px;
            }

            .icon-star {
                color: #FFCC61;
            }

            .icon-cool {
                color: #FF7C7C;
            }

            .divider {
                margin-left: 4px;
            }
        }
    }

    .label {
        $height: 30px;
        height: $height;
        color: white;
        position: absolute;
        bottom: -$height;
        left: 0px;
        right: 0px;
        background: rgba(0,0,0, 0.8);
        font-size: 14px;

        border-radius: 0 0 2px 2px;

        box-shadow: inset 1px 0 0 rgba(255,255,255, 0.1), inset -1px 0 0 rgba(255,255,255,0.1), inset 0 -1px 0 rgba(255,255,255,0.1);


        -webkit-transition: bottom 0.20s ease-in-out;
        -moz-transition: bottom 0.20s ease-in-out;
        transition: bottom 0.20s ease-in-out;

        .text {
            line-height: $height;
            padding: 0 8px;
        }

        .author {
            color: #aaa;
            float: right;
            display: block;

            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        .title {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.arrow_box {
    position: relative;
    background: #ddd;
    border: 2px solid #fff;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #ddd;
    border-width: 6px;
    left: 23px;
    margin-left: -6px;
}
.arrow_box:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    left: 23px;
    margin-left: -9px;
}

.downloader {
    font-size: 14px;
    padding: 10px;
    position: absolute;
    border-radius: 4px;
    top: -1000px;
    left: -1000px;
    opacity: 0;

    margin-left: -14px;
    margin-top: 29px;

    background: #ddd;
    text-shadow: 1px 1px 0 white;
    box-shadow: 0 0 10px black;

    &.animated {
        -webkit-transition: opacity 0.20s ease-in-out;
        -moz-transition: opacity 0.20s ease-in-out;
        transition: opacity 0.20s ease-in-out;
    }

    .empty_text {
        color: #444;
        font-style: italic;
    }

    a {
        color: #3a3a3a;

        &:hover {
            color: #222;
        }

        &.download_row {
            display: block;
            margin-bottom: 2px;
        }
    }

    &.visible {
        opacity: 1;
        -webkit-animation: pop .2s ease-in-out;
        -moz-animation: pop .2s ease-in-out;
        -ms-animation: pop .2s ease-in-out;
    }
}

.select_popup {
    position: absolute;
    left: 100px;
    top: 100px;
    background: #ffffff;

    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    border-radius: 4px;
    padding: 4px 0;

    margin-left: -17px;
    margin-top: 4px;

    -webkit-transition: opacity 0.20s ease-in-out;
    -moz-transition: opacity 0.20s ease-in-out;
    transition: opacity 0.20s ease-in-out;

    .option {
        cursor: pointer;
        padding: 0 12px;
        background: white;
        -webkit-transition: all 0.10s ease-in-out;
        -moz-transition: all 0.10s ease-in-out;
        transition: all 0.10s ease-in-out;

        &:hover {
            background: #222;
            color: white;
        }
    }


    &:after {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
    }

    hr {
        border: 0;
        height: 1px;
        background: #d6d6d6;
        margin: 4px 0;
    }
}


@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.0);
    }

    50% {
        -webkit-transform: scale(1.2);
    }
}

@-moz-keyframes pop {
    0% {
        -moz-transform: scale(0.8);
    }

    100% {
        -moz-transform: scale(1.0);
    }

    50% {
        -moz-transform: scale(1.2);
    }
}


@-ms-keyframes pop {
    0% {
        -ms-transform: scale(0.8);
    }

    100% {
        -ms-transform: scale(1.0);
    }

    50% {
        -ms-transform: scale(1.2);
    }
}


.sticky {
    h1.short_header {
        display: none;
    }
}

@media (max-width: 980px) {
    .sticky {
        h1.long_header {
            display: none;
        }
        h1.short_header {
            display: inline-block;
        }
    }
}

@media (max-width: 845px) {
    .sticky .social_buttons {
        display: none;
    }
}
